/*GLOBAL STYLES*/

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

.vertical-align-parent {
	display: table;
	width: 100%;
}

.vertical-align-child {
	display: table-cell;
	vertical-align: middle;
}

.header h2 {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 40px;
	text-align: center;
	font-weight: 400;
}

.contact .button {
	display: inline-block;
	background-color: #FEFEFE;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 500;
	margin: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.contact .button a {
	color: black;
	text-decoration: none;
}

.contact .button:hover {
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

/*HOMEPAGE*/
/*LANDING STYLES*/

#landing {
	background: url(../images/landing.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	color: #CDD1D5;
    height:94vh; 
    position: relative;
    top: 50px;
}

#landing header {
	position: relative;
	z-index: 10;
}

#landing header .logo {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Averia Sans Libre', sans-serif;
	color: #CDD1D5;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 20px;
	margin: 0;
	z-index: 11;
	line-height: 50px;
	font-size: 18px;
}

@media (max-width: 570px) {
	#landing header .logo {
		line-height: 100px;
	}
}

#landing nav {
	text-align: right;
	font-size: 18px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/footer.jpg);
	height: 50px;
	z-index: 10;
	width: 100%;
	font-weight: 400;
}

@media (max-width: 570px) {
	#landing nav {
		font-size: 16px;
		height: 100px;
	}	
}

#landing nav ul {
	text-decoration: none;
	list-style-type: none;
	position: absolute;
	top: 0px;
	right: 40px;
	margin: 0;
}

@media (max-width: 570px) {
	#landing nav ul {
		margin-top: 5px;
	}	
}

#landing li {
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	line-height: 50px
}

@media (max-width: 570px) {
	#landing li {
		display: block;
		padding: 0;
		line-height: 30px;
	}	
}

#landing a {
	text-decoration: none;
	list-style-type: none;
}

#landing a:link {
	color: #CDD1D5;
}

#landing a:visited {
	color: #CDD1D5;
}

#landing a:hover {
	color: #C6DABF;
}

#landing a:active {
	color: #CDD1D5;
}

#landing .icon {
	height: 60px;
	width: 100%;
	-webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    transform: rotate(345deg);
	position: absolute;
	top: 48%;
}

#landing .icon1 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 20%;
}

@media (min-width: 570px) and (max-width: 850px) {
	#landing .icon1 {
		width: 60px;
		height: 60px;
		margin-left: 30%;
	}
}

@media (min-width: 478px) and (max-width: 570px) {
	#landing .icon1 {
		width: 50px;
		height: 50px;
		margin-left: 40%;
	}
}

@media (max-width: 478px) {
	#landing .icon1 {
		width: 50px;
		height: 50px;
		margin-left: 48%;
	}
}

#landing .icon2 {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-left: 3%;
}

@media (max-width: 570px) {
	#landing .icon2 {
		width: 50px;
		height: 50px;
		margin-left: 6%;
	}
}

/*PORTFOLIO STYLES*/

#portfolio {
	text-align: center;
	margin: 80px;
	z-index: 9;
	position: relative;
	top: 50px;
}

@media (max-width: 768px) {
	#portfolio {
		margin: 20px;
	}
}

.project {
	margin: 20px;
}

.project p {
	margin-top: 0;
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 980px) {
	.project p {
		font-size: 12px;
	}
}

.project h3 {
	text-transform: capitalize;
	margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 980px) {
	.project h3 {
		font-size: 14px;
	}
}

.project a {
	color: black;
}

.project img {
	width: 100%;
}

.project .imgWrap {
	position: relative;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.project .imgTitleWrap {
	background: white;
	opacity: .8;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
}

.project .imgWrap:hover img {
	opacity: .7;
}

.project .imgWrap:hover .disabled {
	opacity: 1;
}

/*ABOUT STYLES*/

#about {
	width: 100%;
	background: #d3d3d3;
	color: black;
	padding: 20px 20px 80px 20px;
	line-height: 1.5;
	padding-bottom: 150px;
	display: inline-block;
	position: relative;
	top: 50px;
}

#about .row {
	margin: 90px;
}

@media (max-width: 966px) {
	#about .row {
		text-align: center;
		margin: 20px;
		padding: 0;
	}
}

#about img {
	display: block;
	margin: auto;
	height: 223px;
	width: 223px;
}

@media (max-width: 768px) {
	#about img {
		height: 150px;
		width: 150px;
	}
}

#about p {
	margin-top: 0;
	display: inline-block;
	padding: 0px 0px 0px 30px;
}

@media (max-width: 768px) {
	#about p {
		padding: 0;
	}
}

#about .bio {
	display: inline-block;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	vertical-align: top;
	margin-bottom: 30px;
}

#about .bioText {
	display: inline-block;
	max-width: 500px;
	text-align: left;
	vertical-align: top;
}

#about .contact .button {
	margin-left: 30px;
	margin-right: 0;
	width: 200px;
}

@media (max-width: 483px) {
	#about .contact .button {
		margin-left: 0;
	}
}

 @media (max-width: 543px) {
 	#about .bioText .contact {
 		text-align: center;
 	}
 }

/*CASESTUDY PAGES*/
/*BODY STYLES*/

.projectPage {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 150px;
	margin-top: 150px;
}

/*HEADER STYLES*/
.projectPage header {
	position: relative;
	z-index: 10;
}

.projectPage header .logo {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Averia Sans Libre', sans-serif;
	color: #CDD1D5;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 20px;
	margin: 0;
	z-index: 11;
	line-height: 50px;
	font-size: 18px;
}

@media (max-width: 640px) {
	.projectPage header .logo {
		line-height: 75px;
	}
}

.projectPage header nav {
	text-align: right;
	font-size: 18px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/footer.jpg);
	height: 50px;
	z-index: 10;
	width: 100%;
}

@media (max-width: 640px) {
	.projectPage header nav {
		font-size: 16px;
		height: 75px;
	}	
}

.projectPage header nav ul {
	text-decoration: none;
	list-style-type: none;
	position: absolute;
	top: 0px;
	right: 40px;
	margin: 0;
}

@media (max-width: 640px) {
	.projectPage header nav ul {
		margin: 15px;
		position: absolute;
		right: 20px;
	}	
}

.projectPage header li {
	display: inline-block;
	text-align: right;
	padding: 10px;
}

@media (max-width: 640px) {
	.projectPage header li {
		display: block;
		padding: 0;
		text-align: left;
	}	
}
.projectPage header a {
	text-decoration: none;
	list-style-type: none;
}

.projectPage header a:link {
	color: #CDD1D5;
}

.projectPage header a:visited {
	color: #CDD1D5;
}

.projectPage header a:hover {
	color: #C6DABF;
}

.projectPage header a:active {
	color: #CDD1D5;
}

/*SECTION STYLES*/
.projectPage .projectPageTitle {
	text-align: center;
}

.projectPage .projectPageTitle h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.projectPage h2 {
	margin-top: 60px;
}

.projectPage h3 {
	margin-top: 40px;
}

.projectPage .title {
	font-style: italic;
}

.projectPage .final {
	margin-bottom: 60px;
}

.projectPage .image {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/*EVENT APP PAGE STYLES*/
.projectPage .wireframes {
	width: 75%;
	margin: 0 auto;
}

.projectPage .sketches {
	width: 75%;
	margin: 0 auto;
}

@media (min-width: 770px) and (max-width: 1100px) {
	.projectPage .prototypes img {
		max-width: 90%;
	}
}

/*HAPYAK PAGE STYLES*/
.projectPage .survey {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 750px) {
	.projectPage .survey {
		width: 100%;
	}	
}

/*FOOTER STYLES*/
.projectPage footer {
	text-align: center;
}
.projectPage footer h2 {
	margin-top: 60px;
}

.projectPage footer .button {
	border: 1px solid #d3d3d3;
}

/*REVAMP STYLES*/
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
  width: 100%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .3)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .7;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 50%;
  margin-left: -40px;
}
.carousel-control .icon-next,
.carousel-control .fa-chevron-right {
  right: 50%;
  margin-right: -40px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .fa-chevron-left,
  .carousel-control .fa-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .fa-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -40px;
  }
  .carousel-control .fa-chevron-right,
  .carousel-control .icon-next {
    margin-right: -40px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}