/*GLOBAL STYLES*/

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
}

.vertical-align-parent {
	display: table;
	width: 100%;
}

.vertical-align-child {
	display: table-cell;
	vertical-align: middle;
}

.header h2 {
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 40px;
	text-align: center;
	font-weight: 400;
}

.contact .button {
	display: inline-block;
	background-color: #FEFEFE;
	color: black;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 500;
	margin: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.contact .button a {
	color: black;
	text-decoration: none;
}

.contact .button:hover {
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
}

/*HOMEPAGE*/
/*LANDING STYLES*/

#landing {
	background: url(../images/landing.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	color: #CDD1D5;
    height:94vh; 
    position: relative;
    top: 50px;
}

#landing header {
	position: relative;
	z-index: 10;
}

#landing header .logo {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Averia Sans Libre', sans-serif;
	color: #CDD1D5;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 20px;
	margin: 0;
	z-index: 11;
	line-height: 50px;
	font-size: 18px;
}

@media (max-width: 570px) {
	#landing header .logo {
		line-height: 100px;
	}
}

#landing nav {
	text-align: right;
	font-size: 18px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/footer.jpg);
	height: 50px;
	z-index: 10;
	width: 100%;
	font-weight: 400;
}

@media (max-width: 570px) {
	#landing nav {
		font-size: 16px;
		height: 100px;
	}	
}

#landing nav ul {
	text-decoration: none;
	list-style-type: none;
	position: absolute;
	top: 0px;
	right: 40px;
	margin: 0;
}

@media (max-width: 570px) {
	#landing nav ul {
		margin-top: 5px;
	}	
}

#landing li {
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	line-height: 50px
}

@media (max-width: 570px) {
	#landing li {
		display: block;
		padding: 0;
		line-height: 30px;
	}	
}

#landing a {
	text-decoration: none;
	list-style-type: none;
}

#landing a:link {
	color: #CDD1D5;
}

#landing a:visited {
	color: #CDD1D5;
}

#landing a:hover {
	color: #C6DABF;
}

#landing a:active {
	color: #CDD1D5;
}

#landing .icon {
	height: 60px;
	width: 100%;
	-webkit-transform: rotate(345deg);
    -moz-transform: rotate(345deg);
    -ms-transform: rotate(345deg);
    -o-transform: rotate(345deg);
    transform: rotate(345deg);
	position: absolute;
	top: 48%;
}

#landing .icon1 {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-left: 20%;
}

@media (min-width: 570px) and (max-width: 850px) {
	#landing .icon1 {
		width: 60px;
		height: 60px;
		margin-left: 30%;
	}
}

@media (min-width: 478px) and (max-width: 570px) {
	#landing .icon1 {
		width: 50px;
		height: 50px;
		margin-left: 40%;
	}
}

@media (max-width: 478px) {
	#landing .icon1 {
		width: 50px;
		height: 50px;
		margin-left: 48%;
	}
}

#landing .icon2 {
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-left: 3%;
}

@media (max-width: 570px) {
	#landing .icon2 {
		width: 50px;
		height: 50px;
		margin-left: 6%;
	}
}

/*PORTFOLIO STYLES*/

#portfolio {
	text-align: center;
	margin: 80px;
	z-index: 9;
	position: relative;
	top: 50px;
}

@media (max-width: 768px) {
	#portfolio {
		margin: 20px;
	}
}

.project {
	margin: 20px;
}

.project p {
	margin-top: 0;
	font-size: 14px;
}

@media (min-width: 768px) and (max-width: 980px) {
	.project p {
		font-size: 12px;
	}
}

.project h3 {
	text-transform: capitalize;
	margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 980px) {
	.project h3 {
		font-size: 14px;
	}
}

.project a {
	color: black;
}

.project img {
	width: 100%;
}

.project .imgWrap {
	position: relative;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.project .imgTitleWrap {
	background: white;
	opacity: .8;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
}

.project .imgWrap:hover img {
	opacity: .7;
}

.project .imgWrap:hover .disabled {
	opacity: 1;
}

/*ABOUT STYLES*/

#about {
	width: 100%;
	background: #d3d3d3;
	color: black;
	padding: 20px 20px 80px 20px;
	line-height: 1.5;
	padding-bottom: 150px;
	display: inline-block;
	position: relative;
	top: 50px;
}

#about .row {
	margin: 90px;
}

@media (max-width: 966px) {
	#about .row {
		text-align: center;
		margin: 20px;
		padding: 0;
	}
}

#about img {
	display: block;
	margin: auto;
	height: 223px;
	width: 223px;
}

@media (max-width: 768px) {
	#about img {
		height: 150px;
		width: 150px;
	}
}

#about p {
	margin-top: 0;
	display: inline-block;
	padding: 0px 0px 0px 30px;
}

@media (max-width: 768px) {
	#about p {
		padding: 0;
	}
}

#about .bio {
	display: inline-block;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	vertical-align: top;
	margin-bottom: 30px;
}

#about .bioText {
	display: inline-block;
	max-width: 500px;
	text-align: left;
	vertical-align: top;
}

#about .contact .button {
	margin-left: 30px;
	margin-right: 0;
	width: 200px;
}

@media (max-width: 483px) {
	#about .contact .button {
		margin-left: 0;
	}
}

 @media (max-width: 543px) {
 	#about .bioText .contact {
 		text-align: center;
 	}
 }

/*CASESTUDY PAGES*/
/*BODY STYLES*/

.projectPage {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 150px;
	margin-top: 150px;
}

/*HEADER STYLES*/
.projectPage header {
	position: relative;
	z-index: 10;
}

.projectPage header .logo {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: 'Averia Sans Libre', sans-serif;
	color: #CDD1D5;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-left: 20px;
	margin: 0;
	z-index: 11;
	line-height: 50px;
	font-size: 16px;
}

@media (max-width: 640px) {
	.projectPage header .logo {
		line-height: 75px;
	}
}

.projectPage header nav {
	text-align: right;
	font-size: 20px;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/footer.jpg);
	height: 50px;
	z-index: 10;
	width: 100%;
}

@media (max-width: 640px) {
	.projectPage header nav {
		font-size: 16px;
		height: 75px;
	}	
}

.projectPage header nav ul {
	text-decoration: none;
	list-style-type: none;
	position: absolute;
	top: 0px;
	right: 40px;
	margin: 0;
}

@media (max-width: 640px) {
	.projectPage header nav ul {
		margin: 15px;
		position: absolute;
		right: 20px;
	}	
}

.projectPage header li {
	display: inline-block;
	text-align: right;
	padding: 10px;
}

@media (max-width: 640px) {
	.projectPage header li {
		display: block;
		padding: 0;
		text-align: left;
	}	
}
.projectPage header a {
	text-decoration: none;
	list-style-type: none;
}

.projectPage header a:link {
	color: #CDD1D5;
}

.projectPage header a:visited {
	color: #CDD1D5;
}

.projectPage header a:hover {
	color: #C6DABF;
}

.projectPage header a:active {
	color: #CDD1D5;
}

/*SECTION STYLES*/
.projectPage .projectPageTitle {
	text-align: center;
}

.projectPage .projectPageTitle h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.projectPage h2 {
	margin-top: 60px;
}

.projectPage h3 {
	margin-top: 40px;
}

.projectPage .title {
	font-style: italic;
}

.projectPage .final {
	margin-bottom: 60px;
}

.projectPage .image {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

/*EVENT APP PAGE STYLES*/
.projectPage .wireframes {
	width: 75%;
	margin: 0 auto;
}

.projectPage .sketches {
	width: 75%;
	margin: 0 auto;
}

/*HAPYAK PAGE STYLES*/
.projectPage .survey {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 750px) {
	.projectPage .survey {
		width: 100%;
	}	
}

/*FOOTER STYLES*/
.projectPage footer {
	text-align: center;
}
.projectPage footer h2 {
	margin-top: 60px;
}

.projectPage footer .button {
	border: 1px solid #d3d3d3;
}